[Unit]
Description=ODA Service
After=polluxnet
Requires=polluxnet

[Service]
ExecStart=/path/to/a4radar-4.2.9-SNAPSHOT/bin/run.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
