## Model of configuration of the Device I/O Zero hardware bundle
#
## ADC channels
#index=deviceType:<deviceType>,path:<path>,device:<device>,name:<name>,lowMode:<lowMode>
#
#   deviceType ->   adc.ADCChannel
#   path ->         path/to/analog/value
#   device ->       owasys / fx30 / default
#   name ->         (optional) ADC#, where # is the number of configured ADC channel.
#   lowMode ->      (optional) true or false
#
1 = deviceType:adc.ADCChannel, path:/sys/class/hwmon/ain-1, device:owasys, name:ADC1, lowMode:false

## GPIO pins
#index=deviceType:<deviceType>,name:<name>,direction:<direction>,mode:<mode>,trigger:<trigger>,activeLow:<activeLow>,initialValue:<initialValue>
#
#   deviceType ->   gpio.GPIOPin
#   name ->         (optional) name associated to the GPIO pin. Defaults to the index.
#   direction ->    INPUT / OUTPUT
#   mode ->         (input) PULL_UP / PULL_DOWN ; (output) OPEN_DRAIN / PUSH_PULL
#   trigger ->      (input) NONE / RISING_EDGE / FALLING_EDGE / BOTH_EDGES
#   activeLow ->    (optional) true or false
#   initialValue -> (optional, output) true or false
#
#2 = deviceType:gpio.GPIOPin, name:GPIO2, direction:OUTPUT, mode:PUSH_PULL, activeLow:false, initialValue:false
