<configuration scan="true" scanPeriod="1 minutes">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%level) %cyan(%logger) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_TXT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/oda.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/oda.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    <appender name="FILE_HTML" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/oda.html</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/oda.%d{yyyy-MM-dd}.%i.html.zip</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%d{HH:mm:ss.SSS}%thread%level%logger%line%msg</pattern>
            </layout>
        </encoder>
    </appender>
    -->

    <root level="INFO">
        <appender-ref ref="FILE_TXT" />
    </root>
</configuration>