# Configuration used for publishing datastreams recollected data to OpenGate. If datastream is not present the data is published immediately
# Line format is:
#   datastreamId=publishingTimerInSeconds
#   datastreamId;deviceId=firstPublishingInSeconds;nextPublishingsInSeconds