# Directory to get the scripts
source=deploy
# Directory to extract the scripts
path=scripts

# OpenGate login
deviceId=<device_id>
apiKey=<api-key>

# List of datastreamId and script to execute for this datastreamId
# <datastreamId>=<path_to_script>;<data_type>
# <data_type> can be STRING, LONG, INTEGER, BOOLEAN, FLOAT, DOUBLE. If is not specified STRING type will be used
device.clock=scripts/obtainClock.sh
device.upTime=scripts/obtainUptime.sh;LONG
device.cpu.total=scripts/obtainCpuTotal.sh;INTEGER
device.cpu.status=scripts/obtainCpuStatus.sh;
device.cpu.usage=scripts/obtainCpuUsage.sh;INTEGER
device.ram.total=scripts/obtainRamTotal.sh;LONG
device.ram.usage=scripts/obtainRamUsage.sh;INTEGER
device.storage.disk.total=scripts/obtainDiskTotal.sh;LONG
device.storage.disk.usage=scripts/obtainDiskUsage.sh;INTEGER
device.temperature.status=scripts/obtainTemperatureStatus.sh
device.temperature.value=scripts/obtainTemperatureValue.sh;INTEGER
